.history-view,
.deckbuilding-view,
.export-import-view,
.chat-view {
    display: none;
}

.active-view {
    display: flex;
}

.hidden {
    display: none !important;
}

.app-container {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  overflow: hidden;
}

.app-nav {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 100%;
  padding: 0 0.5rem;
  padding-top: 1rem;
  background-color: var(--sidebar);
  border-right: 1px solid var(--sidebar-border);
}

.app-logo{
  width: 48px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.nav-item {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  padding: 0.75rem 0;
  cursor: pointer;
  color: var(--sidebar-foreground);
  border-radius: 0.25rem;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-item span {
  display: none;
}

.nav-item button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  cursor: pointer;
  background:none;
  border:none;
  color: var(--sidebar-foreground);
  padding: 0.75rem 0;
}

.nav-item i{
  width: 24px;
  height: 24px;
}

.nav-item:hover {
  background-color: var(--sidebar-accent);
}

.nav-item.active button {
  background-color: var(--highlight);
  color: var(--sidebar-accent-foreground);
  border-radius: 0.25rem;
}

.nav-bottom {
  margin-top: auto;
  padding-bottom: 1rem;
}

.nav-bottom button{
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background:none;
  border:none;
  color: var(--sidebar-foreground);
  padding: 0.75rem 0;
}

.app-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  padding: 1rem;
  background-color: var(--background);
}

.app-main.empty-state {
  align-items: center;
  justify-content: center;
}