.app-container {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

.app-nav {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 100%;
  padding-top: 1rem;
  background-color: var(--sidebar);
  border-right: 1px solid var(--sidebar-border);
}

.nav-item {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  padding: 0.75rem 0;
  cursor: pointer;
  color: var(--sidebar-foreground);
  border-radius: 0.25rem;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-item span {
  display: none;
}

.nav-item i{
  width: 24px;
  height: 24px;
}

.nav-item:hover {
  background-color: var(--sidebar-accent);
}

.app-main {
  flex: 1;
  height: 100%;
  background-color: var(--background);
}